<!DOCTYPE html>
<!--  <html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
	
<head>
<title>A list of books</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


	<h1 th:inline="text">Hello [[${# httpServletRequest.remoteUser}]]!</h1>



	<table class="table table-striped">
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>ISBN</th>
			<th>Year</th>
			<th><form th:action="@{/logout}" method="post">
					<input class="btn btn-danger" type="submit" value="Sign Out" />
				</form></th>
				
		</tr>


		<tr th:each="book: ${books}">
			<td th:text="${book.author}"></td>
			<td th:text="${book.title}"></td>
			<td th:text="${book.isbn}"></td>
			<td th:text="${book.year}"></td>
			<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger"
				th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
			<td> </td>
		</tr>
	</table>
	<div>
		<a class="btn btn-success" href="/addbook">Add a book!</a>
	</div>

</body>
</html>